<div class="box">
    <div class="box-hd">
        <h1>Our Delicious Menu Items</h1>
    </div>
    <div class="box-bd">
        <table>
          <thead>
            <tr>
              <th><%= link_to 'Food Thing', menu_items_path(sort: 'title ' + sort_dir) %></th>
              <th><%= link_to 'Coinage', menu_items_path(sort: 'price ' + sort_dir) %></th>
              <th>What's that about?</th>
              <th>On Sale?</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @menu_items.each do |menu_item| %>
              <tr>
                <td><%= menu_item.title %></td>
                <td>$<%= menu_item.price %></td>
                <td><%= menu_item.description %></td>
                <td><%= menu_item.onsale? ? 'Hell Yeah' : 'Hell No' %></td>
                <td><%= link_to 'View', menu_item %></td>
                <td><%= link_to 'Edit', edit_menu_item_path(menu_item) %></td>
                <td><%= link_to 'Destroy', menu_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to 'Invent New Food Thing', new_menu_item_path, :class => 'btn' %>
    </div>
</div>
